<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musiquita</title>
</head>
<body>
    <h1>
        Holi hago musica
        <script>
            let sound = new Audio("https://www.mboxdrive.com/Rama3.mp3");
            console.log("Holi estoy aca");
            sound.play();
            console.log("Holi estoy aca 2");
           
        </script>
    </h1>
    
</body>
</html>